* {
  margin: 0;
}

.App {
  text-align: center;
  background-color: rgb(42, 42, 42);
  height: 100vh;
}

#main {
  display: flex;
  justify-content: center;
}

h2 {
  margin: 1rem 0 0 0;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  border-radius: .5rem;
  background-color: rgb(75, 75, 75);
  padding: 0 1rem 1rem 1rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0;
}

form div {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}